@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto' , sans-serif;
}
nav{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    background-color: grey;
}
nav li{
    display: none;
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
}
nav li span{
    padding-left: 5px;
}
li a{
    padding: 5px;
    background-color: #fff;
    text-decoration: none;
    color: black;
    font-weight: 900;
}
.container,
.products-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    padding-bottom: 100px;
}
.container{
    margin-top: 70px;
}
img{
    width: 200px;
    height: 186px;
}
.image{
    margin-right: 20px;
    margin-left: 20px;
    position: relative;
    overflow: hidden;
}
.add-cart{
    position: absolute;
    width: 100%;
    background-color: darkgrey;
    transition: all 0.3s ease-out;
    opacity: 0;
    cursor: pointer;
    text-align: center;

}
.image:hover .cart1,
.image:hover .cart2,
.image:hover .cart3,
.image:hover .cart4{
    bottom: 50px;
    opacity: 1;
    padding: 10px;
    text-decoration: none;
}

/*----------------cart page-------------------------*/

.products-container{
    max-width: 650px;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 70px;
}
.products-container i{
    font-size: 25px;
    color: blue;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}
.products{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.products img{
    width: 75px;
    height: 75px;
}

.basketTotalContainer{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px 0;
}
.basketTotalTitle{
    width: 30%;
}
.basketTotal{
    width: 10%;
}
button{
    background-color: lightgrey;
    color: black;
    margin: 20px;
    padding: 5px;
    font-weight: 900;
    cursor: pointer;
}

.table{
    margin: 20px;
    width: 100%;
    border-spacing: 0;
}
th{
    border-bottom: 4px solid lightgrey;
    word-break: break-word;  
    text-align: left; 
    padding-right: 5px;
}
td{
    border-bottom: 1px solid lightgrey;  
    word-break: break-word;  
    text-align: left; 
}
.table #span{
    color: blue;
   font-weight: 900;
}